<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<html>
    <head>
        <title>TigerThrift</title>
    </head>
  <body>
    {% include 'header.html' %}
    <div class="container-fluid">
        <div class="row text-center">
            <h3 class="text-left"><strong>{{user_info['full_name']}}</strong></h3>
            <p class="text-left mb-0" style="text-transform:lowercase">{{user_info['netid']}} | class of 20{{user_info['class_year']}}</p>
            <p class="text-left" style="text-transform:lowercase" id="without_phone">{{user_info['email']}}</p>
            <p class="text-left" style="text-transform:lowercase" id="with_phone">{{user_info['email']}} | {{user_info['phone']}}</p>
        </div>

        <div id="active_row"
        style="padding-left: min(50px, 10%); padding-right: min(50px, 10%);" class="m-auto">
        <div class="row px-5" id="sidebar">
            <form action="/myselling/reserved" method='GET'>
                <button id="items_curr_reserved_button" class="col text-center" style="min-width: 210px; padding: 10px;">
                    items currently reserved by others
                </button>
            </form>
            <form action="/myselling/active" method='GET'>
            <button id="items_curr_active_button" class="col text-center" style="min-width: 210px; padding: 10px;">
                items still active (not yet reserved by others)
            </button>
            </form>
        </div>
        <br>
        <div id="items_curr_reserved">
            <h4 class="text-center" style="margin: 0;">Items Currently Reserved By Others</h4>
            <div id=search_results class="card-deck row justify-content-center">
                {% if reserved_by_others|length == 0 %}
                <h5 class="text-center pt-3">No items have yet been reserved!</h5>
                {% else %}
                {% for item in reserved_by_others %}
                    <!-- item is currently reserved -->
                    {% if item['status'] == 1 %} 
                        <div class="card" style="width:250px; margin:30px;">
                            <img class="card-img-top pt-2" src="{{item['photolink']}}" alt="item photo" style="width:220px; height:220px; overflow:hidden; object-fit:contain;">
                            <div class="card-body">
                                <h4 class="card-title" style="height: 80px;">{{item['prodname']}}</h4>
                                <div class="d-flex align-self-end row">
                                    <p class="card-text">Buyer: {{item['buyer_full_name']}} ({{item['buyernetid']}})</p>
                                    {% if item['reservation_time_left'] == "YOUR RESERVATION HAS EXPIRED! 0 days left" %}
                                    <p class="card-text" id=time_left style="color: red;"><i>YOUR RESERVATION HAS EXPIRED! Please email the buyer to confirm receipt of the sale, or let us know if the buyer is inactive.</i></p>
                                    {% else %}
                                    <p class="card-text"><i>{{item['reservation_time_left']}} to complete reservation</i></p>
                                    {% endif %}
                                    <form action="/itemdetails" method='GET'>
                                        <input type = "hidden" name="itemid" value="{{item['itemid']}}">
                                        <button type="submit" class="card-text btn btn-sm btn-dark">details</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        </div>
        </div>
    </body>
    <script>
        function setup() {

        document.getElementById("shop_header").style.color = "#000000";
            document.getElementById("sell_header").style.color = "#000000";
            document.getElementById("profile_header").style.color = "#2B6FF4";
            document.getElementById("about_header").style.color = "#000000";
            document.getElementById("tutorial_header").style.color = "#000000";
            document.getElementById("items_curr_reserved_button").style.color = "#2B6FF4";

            if ("{{user_info['phone']}}" != "unknown") {
                $("#with_phone").show();
                $("#without_phone").hide();
            }
            else {
                $("#with_phone").hide();
                $("#without_phone").show();
            }

            $('#delete_form').submit(function() {
                let r = confirm("Are you sure you want to delete this item?");
                if (r==true) {
                        return true;
                }
                    return false;
            });
    
        }

        $('#document').ready(setup);
    </script>
    </html>