<!DOCTYPE html>
<link rel="shortcut icon" type="image/" href="/static/images/icon.png"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<html>
    <head>
        <title>TigerThrift</title>
    </head>
  <body>
    {% include 'header.html' %}
    <div class="container-fluid">
        <div class="row text-center">
            <h3 class="text-left"><strong>{{user_info['full_name']}}</strong></h3>
            <p class="text-left mb-0" style="text-transform:lowercase">{{user_info['netid']}} | class of 20{{user_info['class_year']}}</p>
            <p class="text-left" style="text-transform:lowercase" id="without_phone">{{user_info['email']}}</p>
            <p class="text-left" style="text-transform:lowercase" id="with_phone">{{user_info['email']}} | {{user_info['phone']}}</p>
        </div>

        <div id="active_row"
        style="padding-left: min(50px, 10%); padding-right: min(50px, 10%);" class="m-auto">
        <div class="row px-5" id="sidebar">
            <form action="/myselling/reserved" method='GET'>
                <button id="items_curr_reserved_button" class="col text-center" style="min-width: 210px; padding: 10px;">
                    items currently reserved by others
                </button>
            </form>
            <form action="/myselling/active" method='GET'>
            <button id="items_curr_active_button" class="col text-center" style="min-width: 210px; padding: 10px;">
                items still active (not yet reserved by others)
            </button>
            </form>
        </div>
        <br>
        <div id="items_curr_active">
            <h4 class="text-center" style="margin: 0;">Items Still Active (not yet reserved by others)</h4>
            <div id=search_results class="card-deck row justify-content-center">
                {% if curr_active_items|length == 0 %}
                <h5 class="text-center pt-3">You have no items currently active!</h5>
                {% else %}
                {% for item in curr_active_items %}
                    {% if item['status'] == 0 %}
                    {% if item['sellernetid'] == user_info['netid']%}
                    <div class="card" style="width:250px; margin:30px;">
                        <img class="card-img-top pt-2" src="{{item['photolink']}}" alt="item photo" style="width:220px; height:220px; overflow:hidden; object-fit:contain;">
                        <div class="card-body">
                            <h4 class="card-title" style="height: 80px;">{{item['prodname']}}</h4>
                            <div class="mt-auto">
                                <p class="card-text">Price: {{item['price']}}</p>
                                <form action="/itemdetails" method='GET'>
                                    <input type = "hidden" name="itemid" value="{{item['itemid']}}">
                                    <button class="card-text btn btn-dark btn-sm">details</button>
                                </form>
                                <form id="delete_form" action="/delete_item" method='POST' class="pt-2">
                                    <input type = "hidden" name="itemid" value="{{item['itemid']}}">
                                    <button type="submit" class="card-text btn btn-dark btn-sm">remove item</button>
                                </form>
                                <form action="/edit_item" method="POST" class="pt-2">
                                    <input type = "hidden" name="itemid" value="{{item['itemid']}}">
                                    <button id="edit_button" class="card-text btn btn-dark btn-sm">edit item</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        </div>
        </div>
    </body>
    <script>
        function setup(){

            document.getElementById("shop_header").style.color = "#000000";
            document.getElementById("sell_header").style.color = "#000000";
            document.getElementById("profile_header").style.color = "#2B6FF4";
            document.getElementById("about_header").style.color = "#000000";
            document.getElementById("tutorial_header").style.color = "#000000";
            document.getElementById("items_curr_active_button").style.color = "#2B6FF4";

            if ("{{user_info['phone']}}" != "unknown") {
                $("#with_phone").show();
                $("#without_phone").hide();
            }
            else {
                $("#with_phone").hide();
                $("#without_phone").show();
            }

            // $("#items_curr_reserved_button").click(function(){
            //    $('#reserved_form').submit();
            // });

            // $("#items_curr_active_button").click(function(){
            //     $('#active_form').submit();
            // });
            $('#delete_form').submit(function() {
                let r = confirm("Are you sure you want to delete this item?");
                if (r == true) {
                    return true;
                }
                    return false;
            });
    
        }

        $('#document').ready(setup);
    </script>
    </html>